/* ------------------------
   공통 리셋 및 폰트
------------------------- */
html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #fffff0;
  font-family: sans-serif;
}

.noto-sans-kr {
  font-family: "Noto Sans KR", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* ------------------------
   휴대폰 모형 기본
------------------------- */
#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.phone-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;  /* 휴대폰 가로 크기 */
  height: 600px; /* 휴대폰 세로 크기 */
  position: relative;
}

.phone-frame {
  width: 100%;
  height: 100%;
  background-color: #000;    /* 폰 외곽 검정색 */
  border-radius: 40px;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.notch {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 120px;
  height: 30px;
  background-color: #000;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 2;
  margin-top: 5px;
}

.phone-screen {
  position: absolute;
  top: 8px;  /* 노치 아래로 공간 */
  left: 8px;
  right: 8px;
  bottom: 8px;
  background-color: #FFFFFF; /* 아이보리색 */
  border-radius: 30px;
  overflow: hidden;

  /* 화면 내부 콘텐츠 중앙 정렬 */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 로고 */
.phone-logo {
  width: 180px; /* 로고 크기 */
  margin-bottom: 30px;
}

/* 버튼 스타일 */
.reserve-btn {
  padding: 16px 32px;
  font-size: 1rem;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
}

.reserve-btn:hover {
  background-color: #f0f0f0;
}

.back-btn {
  margin-bottom: 16px;   /* 혹은 위치 조절 */
  padding: 8px 16px;     /* 작게 조절 */
  font-size: 0.8rem;     /* 폰트 크기 축소 */
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.back-btn:hover {
  background-color: #f0f0f0;
}

/* 시간 선택 버튼 기본 스타일 */
.time-button {
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

/* 선택된 버튼 스타일 (border 두께를 늘림) */
.time-button.selected {
  border: 2px solid #333;
}