
/* 시간 선택 버튼 기본 스타일 */
.time-button {
  padding: 8px 16px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}
  
  /* 선택된 버튼 스타일 (border 두께를 늘림) */
.time-button.selected {
  border: 2px solid #333;
}

/* 버튼 스타일 */
.reserv-btn {
  padding: 16px 32px;
  font-size: 1rem;
  color: #fff;
  background-color: #ABB113;
  border: 1px solid #ccc;
  border-radius: 15px;
  cursor: pointer;

  /* 이미지를 덮도록 절대 위치 지정 */
  position: absolute;
  bottom: 30px; /* 원하는 위치에 맞게 조절 */
  left: 50%;
  transform: translateX(-50%);
}

/* hover 시 효과 */
.reserve-btn:hover {
  background-color: #f0f0f0;
}

.scrollable-grid {
  max-height: 350px;
  overflow-y: auto;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding-right: 20px; /* 오른쪽 간격 추가 */
}
